.body_background {
	background-image: url('bg1.jpg');
	background-size: cover;
	background-position: center;
}

#myCanvas{
	border: 10px ridge white;
	}
	
h1{
	color: red;
}







